<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/views/assets/css/css.css">
</head>
<body>
    <script src="/views/js.js"></script>
    <article>
        <section>
            <form action="" class="fo">
                <div>  
                <div class="img">
                    <img src="/views/assets/img/deadpool.jfif" alt="Logito">
                </div>
                <p>Nombre</p>
                <input type="name">
                <p>Password</p>
                <input type="password" name="" id="">
                <p>Email</p>
                <input type="email" name="" id="" value="">
                <p>!Haz terminado!</p>
                <input class="boton" type="button" value="Enviar">
            </div>
            <div class="derecha">
                    <i>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        <br> Nemo debitis, sunt rerum facere voluptatum impedit 
                        <br> obcaecati delectus</i>
                    </div>
            </form>
        </section>
    </article>
 </body>
</html>